<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.2023_PDM115_G1"
        tools:targetApi="31"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name=".views.RegistrarAlumnoActivity"
            android:exported="false" />
        <activity
            android:name=".views.VerAlumnosActivity"
            android:exported="false" />
        <activity
            android:name=".views.InicioActivity"
            android:exported="false" />
        <activity
            android:name=".views.VerImpresionesActivity"
            android:exported="false" />
        <activity
            android:name=".views.RegistrarSolicitudRevicionActivity"
            android:exported="false" />
        <activity
            android:name=".views.VerSolicitudEvaluacionActivity"
            android:exported="false" />
        <activity
            android:name=".views.ParametrosActivity"
            android:exported="false" />
        <activity
            android:name=".views.RegistrarTipoEvaluacionActivity"
            android:exported="false" />
        <activity
            android:name=".views.RegistrarPersonaActivity"
            android:exported="false" />
        <activity
            android:name=".views.RegistrarMateriaActivity"
            android:exported="false" />
        <activity
            android:name=".views.RegistrarEvaluacionActivity"
            android:exported="false" />
        <activity
            android:name=".views.RegistrarDocenteActivity"
            android:exported="false" />
        <activity
            android:name=".views.RegistrarCursoActivity"
            android:exported="false" />
        <activity
            android:name=".views.RegistrarCoordinadorActivity"
            android:exported="false" />
        <activity
            android:name=".views.RegistrarCicloActivity"
            android:exported="false" />
        <activity
            android:name=".views.VerTipoEvaluacionActivity"
            android:exported="false" />
        <activity
            android:name=".views.VerMateriaActivity"
            android:exported="false" />
        <activity
            android:name=".views.VerEvaluacionActivity"
            android:exported="false" />
        <activity
            android:name=".views.VerDocentesActivity"
            android:exported="false" />
        <activity
            android:name=".views.VerCursoActivity"
            android:exported="false" />
        <activity
            android:name=".views.VerCoordinadoresActivity"
            android:exported="false" />
        <activity
            android:name=".views.VerCiclosActivity"
            android:exported="false" />
        <activity
            android:name=".views.RegistrarUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>